$background-light: #ffb3d9;
$background-purple: #CC0066;
$background-pink: #ff0080;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(70px,30px);
    background: $background-light ;
    color:floralwhite;
    min-height: 150px;
}

.activated
{
	background: $background-purple;
}

.pinkSE
{
    @include zero-margin(10px,10px);
	background: $background-pink ;
	height: 50px;
}