<mat-toolbar class="container pinkSE">
  <a mat-button routerLink='/home' 
     routerLinkActive="activated">
     <span class="fa fa-home fa-lg"></span> Home</a>

  <a mat-button routerLinkActive="activated" 
     routerLink='/aboutus'>
    <span class="fa fa-info fa-lg"></span> About</a>
  
  <a mat-button routerLink='/womanSpace' 
     routerLinkActive="activated">
    <span class="fa fa-list fa-lg"></span> Woman Space</a>

  <a mat-button routerLink='/manSpace' 
     routerLinkActive="activated">
    <span class="fa fa-list fa-lg"></span> Man Space</a>
  
  <a mat-button routerLink='/contactus' 
     routerLinkActive="activated">
     <span class="fa fa-address-card fa-lg"></span> Contact</a>

     <span class="flex-spacer"></span>
     <a mat-button (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"></span> Login </a>
</mat-toolbar>

<div class="container jumbotron"
    fxLayout="row"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="center center" 
    fxLayoutGap="10px">

<div fxFlex fxFlex.gt-sm="20%">
    <img src="/assets/images/myLogo.png" alt="Logo">
  </div>
  <div fxFlex fxFlex.gt-sm="50%">
    <span style="font-size:26px; color:#ff66a3;">
      <b>We're glad for your visit :)</b>
    </span>
    <p>With more customers being style conscious and putting in the effort to look their best, we're here to do our bit for this fashion revolution !.</p>
  </div>
 
  <div fxFlex></div>
</div>