<div class="container footer" 
    fxLayout="row wrap" 
    fxLayout.lt-md="column" 
    fxLayoutAlign="center center" 
    fxLayoutGap="10px">

  <div fxFlex="100" fxFlex.gt-sm="50">
    <div fxLayout="row">
      <div fxFlex="40" fxFlexOffset="20px">
        <h4>Menu</h4>
        <mat-list>
          <mat-list-item><a mat-button routerLink='/home'>Home</a></mat-list-item>
          <mat-list-item><a mat-button routerLink='/aboutus'>About</a></mat-list-item>
          <mat-list-item><a mat-button routerLink='/womanSpace'>Woman Space</a></mat-list-item>
          <mat-list-item><a mat-button routerLink='/manSpace'>Man Space</a></mat-list-item>
          <mat-list-item><a mat-button routerLink='/contactus'>Contact</a></mat-list-item>
        </mat-list>
      </div>
      <div fxFlex="55">
        <h4>We're available through</h4>
        <address style="text-size: 80%">
          6140, Stadium City<br> Makther, Siliana, Tunisia<br>
          <i class="fa fa-phone"></i>: (216) 94 61 74 35<br>
          <i class="fa fa-fax"></i>: (216) 78 123 321<br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:saria.essid@esprit.tn">saria.essid@esprit.tn</a>
        </address>
      </div>
    </div>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="45">
    <div style="text-align:center">
      <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
      <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
      <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
      <a mat-icon-button class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
      <a mat-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
      <a mat-icon-button class="btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
    </div>
  </div>
  <div>
      <p>© Copyright 2020 MS-Mood</p>
  </div>
</div>