<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
        <div fxFlex="50">
          <span style="font-size:20px; color:#ff66a3;"><b>Our History</b></span>
          <p>We are a team of friends Saria, Mantouty, ... with a deep feelings of creation and addicted with stunning styles of clothing.</p>
          <p>SM-Mood is built to let you redefining yourself and refreshing your wardrobe with up-to-date fashion
             with the trendiest and most exclusive brands from around the world.</p>
          <p>It's targeted for all lifestyle kinds, for both genders and all ages.</p>
          <p>Whatever your personal style, we’ve got a capsule collection to match.</p>
        </div>
    </div>
  </div>
  
  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
        <div fxFlex="33">
          <mat-card>
          <mat-card-header>
            <mat-card-title>
              <span style="font-size:16px; color:#ff66a3;"><b>Overview</b></span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <dl>
              <dt><b>Started:</b> 26 Feb 2015</dt>
              <dt><b>Last Year's Turnover:</b> $2,500,155</dt>
              <dt><b>Employees:</b> 20</dt>
            </dl>
          </mat-card-content>
        </mat-card>
        </div>
        <div fxFlex="5"></div>
        <div fxFlex="30">
          <mat-card>
          <mat-card-header>
            <mat-card-title>
              <span style="font-size:16px; color:#ff66a3;"><b>Leaderships</b></span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <dl>
              <dt><b>CEO:</b> Fathi Essid</dt>
              <dt><b>CDO:</b> Latifa Ben Aissa</dt>
              <dt><b>EC:</b> Fadha Heni</dt> 
            </dl>
          </mat-card-content>
        </mat-card>
        </div>
        <div fxFlex="5"></div>
        <div fxFlex="30">
          <mat-card>
          <mat-card-header>
            <mat-card-title>
              <span style="font-size:16px; color:#ff66a3;"><b>Partners</b></span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <dl>
              <dt><b>- BMW</b></dt>
              <dt><b>- ETICA</b></dt>
              <dt><b>- BIAT</b></dt> 
            </dl>
          </mat-card-content>
        </mat-card>
        </div>
    </div>
  </div>

</div>