<div class="container"
    fxLayout="column"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="piece" [@visibility]="visibility" [@expand]>

    <div fxLayout="column" fxLayout.gt-sm="row">
        <div fxFlex="35">
         <mat-card>
      <mat-card-header>
        <mat-card-title>
          <span style="color:#ff0080; font-size:16px"><b>{{piece.label | uppercase}}</b></span>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{BaseURL + piece.image}}" alt={{piece.label}}>
      
      <mat-card-actions>
        <button mat-button [routerLink]= "['/piecedetail', prev]">
          <span class="fa fa-chevron-left fa-lg"></span>
        </button>
        <button mat-button (click)="goBack()">BACK</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]= "['/piecedetail', next]">
          <span class="fa fa-chevron-right fa-lg"></span>
        </button>
      </mat-card-actions>
    </mat-card>
        </div>
<div fxFlex="5"></div>
        <div fxFlex="20">
           <mat-card>
          <mat-card-header>
            <mat-card-title>
              <span style="color:#800060; font-size:22px"><b>Information</b></span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <dl>
              <br/>
              <dt><span style="color:#990073; font-size:16px">Price:</span> {{piece.price}} (DT) </dt>
              <br/><dt><span style="color:#990073; font-size:16px">Size:</span> {{piece.size}}</dt>
              <br/><dt><span style="color:#990073; font-size:16px">Available Colors: </span>
                <mat-list-item *ngFor="let p of piece.colors">
                  - {{p.label}}
                </mat-list-item>
              </dt>
              <br/><dt><span style="color:#990073; font-size:16px">Occasions:</span>
                <mat-list-item *ngFor="let p of piece.occasions">
                  - {{p.label}}
                </mat-list-item>
              </dt>
              <br/><dt><span style="color:#990073; font-size:16px">Materials:</span>
                <mat-list-item *ngFor="let p of piece.materials">
                  - {{p.label}}
                </mat-list-item>
              </dt>
            </dl>
          </mat-card-content>
        </mat-card>
        </div>
<div fxFlex="5"></div>
<div fxFlex="40" *ngIf="piece" [@visibility]="visibility" [@expand]>
    <mat-list>
      <span style="color:#2929a3; font-size:22px"><b>Comments</b></span>
        <mat-list-item *ngFor="let comment of piece.comments">
          <p matLine>
            <span style="color:#191966; font-size:12px">
              {{comment.comment}}
            </span>
          </p>
          <p matLine>
            <span style="color:#000000; font-size:12px; font-style:italic">
              {{comment.rating}} Stars
            </span>
          </p>
          <p matLine>
            <span style="color:#7070db; font-size:10px; font-style:italic">
              {{comment.author}} {{comment.date | date:'MMM d, y'}}
            </span>
          </p>
        </mat-list-item>

<!-- ---------------------------- Start ---------------------------- -->
        <mat-list-item *ngIf="commentForm.valid">
            <p matLine> {{commentForm.value.comment}} </p>
            <p matLine> <strong>{{commentForm.value.rating}} Stars</strong> </p>
            <p matLine>-- {{commentForm.value.author}} </p>
        </mat-list-item>
    </mat-list>

    <div>
        <form novalidate [formGroup]="commentForm" #cform="ngForm" (ngSubmit)="onSubmit()">
            <p>
                <mat-form-field class="full-width"> 
                   <input matInput formControlName="author" placeholder="Name" type="text" required>
                   <mat-error *ngIf="formErrors.author">
                     {{formErrors.author}}
                   </mat-error>
                </mat-form-field>
            </p>

            <p>
                <mat-slider thumbLabel
                            tickInterval="1"
                            min="1"
                            max="5"
                            formControlName="rating"></mat-slider>
            </p>
       
            <p>
                <mat-form-field class="full-width">
                   <textarea matInput formControlName="comment" placeholder="Your Comment" rows=5 required>
                   </textarea>
                   <mat-error *ngIf="formErrors.comment">
                       {{formErrors.comment}}
                   </mat-error>
                </mat-form-field>
            </p>
            <button type="submit" 
                    [disabled]= "commentForm.invalid"
                    mat-button class="background-primary text-floral-white">Submit</button>
        </form>
    </div>
<!-- ---------------------------- End ---------------------------- -->
  
         </div>

</div>
    

     
        
  </div>


  <div fxFlex [hidden]="piece || errMess">
    <mat-spinner></mat-spinner>
    <h4>Loading ... Please Wait !.</h4>
  </div>

  <div fxFlex *ngIf="errMess">
    <h2>Error !.</h2>
    <h4>{{errMess}}</h4>
  </div>

</div>