<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <span style="font-size:20px; color:#ff66a3;"><b>Location Information</b></span>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="50" fxFlexOffset="20px">
        <h4>We're available through</h4>
        <address style="text-size: 80%">
          6140, Stadium City<br> Makther, Siliana, Tunisia<br>
          <i class="fa fa-phone"></i>: (216) 94 61 74 35<br>
          <i class="fa fa-fax"></i>: (216) 78 123 321<br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:saria.essid@esprit.tn">saria.essid@esprit.tn</a>
        </address>
        
        </div>
      <div fxFlex="40">
        <h4>Map of our Location</h4>hgyt
        
      </div>
    </div>
  </div>
<br/><br/><br/><br/><br/>
    <div fxFlex class="form-size">
          <span style="font-size:20px; color:#ff66a3;"><b>Send us your Feedback</b></span>
    </div>
    <!-- <p> {{ feedbackForm.value | json }} {{ feedbackForm.status | json }} </p> -->
    
    <div [@submitVisibility]="submitVisibility" *ngIf="hideSpinner" [@expand]>
        <h3>Your Submission</h3>
        <br/>First Name:{{feedback.firstname}}
        <br/>Last Name: {{feedback.lastname}}
        <br/>Tel. Number: {{feedback.telnum}}
        <br/>Email: {{feedback.email}}
        <br/>Contact You?: {{feedback.agree}}
        <br/>How?: {{feedback.contacttype}}
        <br/>Feedback: {{feedback.message}}
    </div>

    <div fxFlex *ngIf="showSpinner" [hidden]="hideSpinner" [@expand]>
      <h3>Submission Form</h3>
      <mat-spinner></mat-spinner>
    </div>

    <form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()" 
          class="form-size" [@visibility]="visibility" [@expand]>
       <p>
          <mat-form-field class="half-width"> 
             <input matInput formControlName="firstname" placeholder="First Name" type="text" required>
             <mat-error *ngIf="formErrors.firstname">
               {{formErrors.firstname}}
             </mat-error>
          </mat-form-field>

          <mat-form-field class="half-width">
             <input matInput formControlName="lastname" placeholder="Last Name" type="text" required>
             <mat-error *ngIf="formErrors.lastname">
               {{formErrors.lastname}}
             </mat-error>
          </mat-form-field>
       </p>
        <p>
          <mat-form-field class="half-width">
             <input matInput formControlName="telnum" placeholder="Tel. Number" type="tel" pattern="[0-9]*" required>
             <mat-error *ngIf="formErrors.telnum">
               {{formErrors.telnum}}
             </mat-error>
          </mat-form-field>

          <mat-form-field class="half-width">
             <input matInput formControlName="email" placeholder="Email" type="email" email required>
             <mat-error *ngIf="formErrors.email">
               {{formErrors.email}}
             </mat-error>
          </mat-form-field>
       </p>
       <table class="form-size">
         <td>
           <mat-slide-toggle formControlName="agree">May we contact you?.</mat-slide-toggle>
         </td>
         <td>
           <mat-select placeholder="How?" formControlName="contacttype">
             <mat-option *ngFor="let ctype of contactType" [value]="ctype">
               {{ ctype }}
             </mat-option>
           </mat-select>
         </td>
       </table>
       <p>
         <mat-form-field class="full-width">
           <textarea matInput formControlName="message" placeholder="Your Feedback" rows=3>
           </textarea>
         </mat-form-field>
      </p>
      <button type="submit" 
              [disabled]= "feedbackForm.invalid"
              mat-button class="background-primary text-floral-white">Submit</button>
    </form>
    


  
</div>