<div class="container" fxLayout="column" fxLayoutGap="10px">

	<div fxFlex *ngIf="pieces" [@expand]>
		<mat-grid-list cols="3" rowHeight="200px">
			<!-- <mat-grid-tile *ngFor="let piece of pieces" (click) = "onSelect(piece)"> -->
	    	<mat-grid-tile *ngFor="let piece of pieces" [routerLink]="['/piecedetail', piece.id]" appHighlight>
	    		<!-- <img height="200px" src={{piece.image}} alt={{piece.name}}> -->
	    		<img height="200px" src="{{BaseURL + piece.image}}" alt={{piece.label}}>
	    		<mat-grid-tile-footer>
	    			<h1> {{piece.label | uppercase}} </h1>
	    		</mat-grid-tile-footer>
	    	</mat-grid-tile>
	    </mat-grid-list>
	</div>

	<div fxFlex [hidden]="pieces || errMess">
		<mat-spinner></mat-spinner>
		<h4>Loading ... Please Wait !.</h4>
	</div>
	<!-- <app-piecedetail [piece] = "selectedDish"></app-piecedetail> -->
    <div fxFlex *ngIf="errMess">
		<h2>Error !.</h2>
		<h4>{{errMess}}</h4>
	</div>
</div>


