<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

<mat-card *ngIf="femaleClo" fxFlex [@expand]>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>For Woman</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{BaseURL + femaleClo.image}}" alt={{femaleClo.label}}>
</mat-card>

 <div fxFlex [hidden]="femaleClo || femclErrMess">
    <mat-spinner></mat-spinner>
    <h4>Loading ... Please Wait !.</h4>
  </div>
    <div fxFlex *ngIf="femclErrMess">
    <h2>Error !.</h2>
    <h4>{{femclErrMess}}</h4>
  </div>

  <mat-card *ngIf="maleClo" fxFlex [@expand]>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>For Man</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{BaseURL + maleClo.image}}" alt={{maleClo.label}}>
</mat-card>

 <div fxFlex [hidden]="maleClo || malclErrMess">
    <mat-spinner></mat-spinner>
    <h4>Loading ... Please Wait !.</h4>
  </div>
    <div fxFlex *ngIf="malclErrMess">
    <h2>Error !.</h2>
    <h4>{{malclErrMess}}</h4>
  </div>

</div>